
<div class="container">
  <div fxLayout="column" fxLayoutAlign="center center" [@simpleFadeAnimation]>
    <mz-card style="width: 100%; margin-top: 3%"
             [hoverable]="true">
      <mz-card-title style="text-align: center; margin-top: 3%">
        <h1 class="cardTitle">Forum Rules</h1>
        <hr style=" margin-top: 1%">
      </mz-card-title>
      <mz-card-content style="text-align: center">
        <p style="margin-top: 2%; margin-left: 10%; margin-right: 10%; font-size: x-large">No spam. All automated messages, advertisements, and links to competitor websites will be deleted immediately.</p>
      </mz-card-content>
      <mz-card-action>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mz-button class="red" [float]="true" style="margin-right: 1%" routerLink=""><i mz-icon [icon]="'home'"></i></button>
          <button mz-button class="green" [float]="true" style="margin-left: 1%" routerLink="add/post"><i mz-icon [icon]="'add'"></i></button>

        </div>

      </mz-card-action>
    </mz-card>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="postList" >
    <mz-card *ngFor="let post of postList | async" style="width: 60%; cursor: pointer" [hoverable]="true" routerLink="{{post.id}}" [@simpleFadeAnimation]>
      <mz-card-title>
        <h4>{{post.postName}}</h4>
        <p style="color: gray; font-size: large">{{convertTime(post.postTime)}}</p>
        <hr>
      </mz-card-title>
      <mz-card-content>
        <p style="margin-top: 2%; font-size: large">{{post.postDescription}}</p>
      </mz-card-content>
    </mz-card>
  </div>




  </div>
