
<div class="container">

  <div fxLayout="column" fxLayoutAlign="center center" [@simpleFadeAnimation]>
    <mz-card style="width: 100%; margin-top: 3%"
    [hoverable]="true">
      <mz-card-title style="text-align: center; margin-top: 3%">
        <h1 class="cardTitle">A Forum For Food Enthusiasts</h1>
        <hr style=" margin-top: 1%">
      </mz-card-title>
      <mz-card-content style="text-align: center">
        <h5 style="margin-top: 2%; margin-left: 10%; margin-right: 10%"> Food is any substance consumed to provide nutritional support for an organism.
          It is usually of plant or animal origin, and contains essential nutrients, such as carbohydrates, fats, proteins, vitamins, or minerals.
          The substance is ingested by an organism and assimilated by the organism's cells to provide energy, maintain life, or stimulate growth.</h5>
      </mz-card-content>
    </mz-card>
  </div>
</div>


<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between start" [@simpleFadeAnimation]>
      <mz-card style="width: 47%; margin-top: 3%"
      [hoverable]="true">
        <mz-card-title style="text-align: center; margin-top: 3%">
          <h5 class="cardTitle">Last Months Most Valuable Find</h5>
          <hr style=" margin-top: 3%">
        </mz-card-title>
        <mz-card-content style="text-align: center">
          <iframe width="100%" height="400" src="https://www.youtube.com/embed/qnydFmqHuVo">
          </iframe>
        </mz-card-content>
      </mz-card>


      <mz-card style="width: 47%; margin-top: 3%"
      [hoverable]="true">
        <mz-card-title style="text-align: center; margin-top: 3%">
          <h3 class="cardTitle">Forum</h3>
          <hr style=" margin-top: 3%">
        </mz-card-title>
        <mz-card-content style="text-align: center">


          <p style="font-size: large">
            Historically, humans secured food through two methods: hunting and gathering and agriculture.
            Today, the majority of the food energy required by the ever increasing population of the world is supplied by the food industry. </p>
          <hr>
          <strong>
          <p style="font-size: x-large">
            Check out others meals and recipes in the forum.</p>
          </strong>
        </mz-card-content>
        <mz-card-action fxLayoutAlign="center center">
          <button style="width: 300px" mz-button class="green darken-2" routerLink="/forums">GO TO FORUM</button>
        </mz-card-action>
      </mz-card>

    </div>

</div>






