
<div class="container">

  <div fxLayout="column" fxLayoutAlign="center center" [@simpleFadeAnimation]>
    <mz-card style="width: 100%; margin-top: 3%"
    [hoverable]="true">
      <mz-card-title style="text-align: center; margin-top: 3%">
        <h1 class="cardTitle">A Forum For Food Enthusiasts</h1>
        <hr style=" margin-top: 1%">
      </mz-card-title>
      <mz-card-content style="text-align: center">
        <h5 style="margin-top: 2%; margin-left: 10%; margin-right: 10%"> //Fyld noget BS ind her ,This site is dedicated to the exploration of the deepest depths of the internet to find the worst memes man has ever made.
         This site is a forum for those brave explorers who risk their lives everyday in the name of furthering this sites purpose in the search of bad memes.</h5>
      </mz-card-content>
    </mz-card>
  </div>
</div>


<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between start" [@simpleFadeAnimation]>
      <mz-card style="width: 47%; margin-top: 3%"
      [hoverable]="true">
        <mz-card-title style="text-align: center; margin-top: 3%">
          <h5 class="cardTitle">Last Months Most Valuable Find</h5>
          <hr style=" margin-top: 3%">
        </mz-card-title>
        <mz-card-content style="text-align: center">
          <iframe width="100%" height="400" src="https://www.youtube.com/embed/yRjr7pnhpJ4">
          </iframe>
        </mz-card-content>
      </mz-card>


      <mz-card style="width: 47%; margin-top: 3%"
      [hoverable]="true">
        <mz-card-title style="text-align: center; margin-top: 3%">
          <h3 class="cardTitle">The Forum</h3>
          <hr style=" margin-top: 3%">
        </mz-card-title>
        <mz-card-content style="text-align: center">
          <p style="font-size: x-large">//Fyld noget BS ind her The Forum is where the explorers discuss their finds and the value of them. If you consider yourself such an explorer join the forum and share your ancient knowledge and the
          treasures you might have crossed on your path through the internet. Every month the best worst meme that has been found will be crowned as the most epic bad meme of the month and given a spot in the hall of fame.</p>
        </mz-card-content>
        <mz-card-action fxLayoutAlign="center center">
          <button style="width: 300px" mz-button class="green darken-2" routerLink="/forums">GO TO FORUM</button>
        </mz-card-action>
      </mz-card>

    </div>

</div>






