/* You can add global styles to this file, and also import other style files */
body {

  background-image: url('https://i.pinimg.com/originals/f1/47/2f/f1472f334b2df7c0002176ddf26ca638.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}
